/*
 GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {

  color: #000000;
}

/*.container1 {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar1 {
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
  margin-right: 80px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}*/


.arrowOne{
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;

}








.bg-white {
  background: transparent !important;

}

.link-dark {
  color: black !important;
  font-family: Arial;
}

.link-dark.scrolled {
color: white !important;
  font-family: Arial;

}


.navlogo {

  right: 100px;


}

.bg-white.scrolled {
  background: black !important;
  overflow: hidden;
  transition: 0.5s;
}

.loggo {
  background-image:url("/subbyblack.png") !important;
  width: 4%;
  right: 1000px;
  margin-left: 30px;
}




/*
img.down {
  opacity:0.5;
  transition:opacity 1s ease, transform 1s ease;
  transform: rotateY(360deg);
}


img.down:hover {
  opacity:1;
  transform: rotateY(180deg);
  transition:opacity 1.2s ease, transform 1.2s ease;
} */

.down {
  animation: turner 5s infinite linear;
  width: 5%;
}




@keyframes turner{
  from{  transform: rotateY(0deg)   }
  to  {  transform: rotateY(360deg) }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}





/*@media only screen and (max-width: 700px) {

  col-md-4 text-end nav ul {

  width: 100%;
  background: black;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 2;
}

  col-md-4 text-end nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  col-md-4 text-end nav ul li a {
    color: white;

  }

}*/


.parallax-container {
  object-fit: contain;
  position:relative;
  height: 800px;
  margin:0;


}

/*Iphone 6,7,8 Plus*/
@media only screen and (max-width: 414px) {

  @media only screen and (max-height: 736px) {


    .parallax-container {
      height: 736px;
      margin: 0;


    }
  }
  }

/*Iphone 6,7,8*/
@media only screen and (max-width: 375px) {

  @media only screen and (max-height: 667px) {

    .parallax-container {
      height: 667px;
      margin:0;
    }
  }

  /*Iphone X*/
  @media only screen and (max-height: 812px) {

    .parallax-container {
      height: 812px;
      margin: 0;


    }

  }

}


