.container {
}


.logo1{
    width: 150px;
    cursor: pointer;
    margin: 30px 0;
    margin-left: 80px;
}

.menu-icon1 {
    width: 20px;
    cursor: pointer;
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    alignment: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.bar.scrolled {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    margin-top: 15px;
}

.nav-item {


}

.nav-link{
    font-weight: 400;
    color: #000000;
    font-family: var(--bs-font-sans-serif) !important;
    letter-spacing: 1px !important;
    font-size: 20px;
}

.nav-link.scrolled {
    color: white;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 900px) {


    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        height: 500px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }


    .nav-item {

    }


    .hamburger {
        display: block;
        cursor: pointer;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }


    nav-link {
        color: black;
    }

    .nav-link.scrolled {
        color: black;
    }

    .link-dark {
        color: white!important;
    }

    .menu-icon1 {
        display: block;
        margin-right: 30px;
        width: 40px;
    }

    .logo1{
        width: 120px;
        cursor: pointer;
        margin: 30px 0;
        margin-left: 30px;
    }


}
