.video {
    z-index: 1;
    width: 1600px;
    margin-top: -100px;
    filter: brightness(50%);
}

.nav-link {
    color: white!important;
}



.front {
    text-align: center;
    text-justify: distribute-center-last;
    justify-content: center;
    align-content: center;
}

.frontFont {
    z-index: 2;
    font-family: var(--bs-font-sans-serif);


}