<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUBBY</title>
    <link href="css/home.css" rel="stylesheet">
</head>


<body>



    <div class="container1">

        <div class="navbar1">

            <img class="logo1"
                 src="bilder/subbyblack.png"
                 id="myImage">

            <nav1>
                <ul1 id="menulist">
                    <li1><a1 href="#">Leistungen</a1></li1>
                    <li1><a1 href="#">Portfolio</a1></li1>
                    <li1><a1 href="#">Über uns</a1></li1>
                </ul1>
            </nav1>

            <img src="/bilder/list.png" class="menu-icon1" onclick="togglemenu()">

        </div>

    </div>






    <div class="parallax-container"
         data-parallax="scroll"
         data-bleed="0"
         data-speed="0"
         data-image-src="/bilder/backtest7.png"
         data-natural-width="4740"
         data-natural-height="3164"
    >


        <span>   <a href="#bottom">
            <img class="down"
                 src="bilder/nachsterwhite.png"
                 style=" width: 5%; right: 48%; position: absolute; top: 88%"
            >


        </a></span>
    </div>







    <br>
    <br>
    <br>

    <div class="centerer">

        <div class="wrap">
            <a class="btn-11" href="#">Los gehts!</a>
        </div>
        <link href="css/buttonstyle.css" rel="stylesheet">
    </div>


    <br>
    <br>
    <br>























    <script>

        var menulist = document.getElementById("menulist");

        menulist.style.maxHeight = "0px";

        function togglemenu() {

            if (menulist.style.maxHeight == "0px") {
                menulist.style.maxHeight = "280px"
            }
            else
                {
                menulist.style.maxHeight = "0px"
            }
        }

    </script>

    <script src="effects/jquery.min.js"></script>

    <script src="effects/parallax.js"></script>

</body>


</html>